parameters:
	level: 8
	paths:
		- 'php-src'
#	scanFiles:
#		- 'php-tests/CommonTestClass.php'
#	scanDirectories:
#		- 'php-tests/discard'
	excludePaths:
		- 'php-tests/_autoload.php'
		- 'php-tests/_bootstrap.php'
#		- 'php-tests/CommonTestClass.php'
	bootstrapFiles:
		- 'php-tests/_bootstrap.php'
	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		# usual WTFs with callbacks
		- '#function call_user_func expects callable#'
		- '#\$callback of function array_filter expects#'
		-
			message: '#expects int\|string, int\|string\|null given.#'
			path: 'php-src/arrays/Connector.php'
			# quality WTF - already covered in that "empty" check
		-
			message: '#Property kalanis\\kw_connect\\arrays\\Connector\:\:\$filtering \(array\<int\|string\>\) does not accept#'
			path: 'php-src/arrays/Connector.php'
			# pass range - can do it
